
body {
    font-family: Arial, sans-serif;
    color: #17dfdb;
    background-color: #19171b;
}

.navbar {
    background-color: #c51f72;
}

.navbar-brand img {
    width: 80px; 
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}

.nav-icon {
    width: 70px; 
    height: 70px;
    transition: transform 0.2s ease-in-out;
}

.nav-link:hover .nav-icon {
    transform: scale(1.2);
}

@keyframes glitch {
    0% { text-shadow: 2px 2px 0 #c51f72, -2px -2px 0 #0000ff; }
    25% { text-shadow: -2px -2px 0 #c51f72, 2px 2px 0 #0000ff; }
    50% { text-shadow: 2px -2px 0 #c51f72, -2px 2px 0 #0000ff; }
    75% { text-shadow: -2px 2px 0 #c51f72, 2px -2px 0 #0000ff; }
    100% { text-shadow: 2px 2px 0 #c51f72, -2px -2px 0 #0000ff; }
}

.glitch {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    position: relative;
    animation: glitch 10.0s infinite;
}

.username {
 font-size: 2.0rem;
 color: #fff;
 position: relative;
 font-family: 'Poppins', sans-serif;
}

img {
    width: 150px;
    height: auto;
}

@media (max-width: 992px) { 
    .navbar-brand img {
        width: 60px; 
    }
    .nav-icon {
        width: 50px; 
        height: 50px;
    }
}

@media (max-width: 768px) { 
    .navbar-brand img {
        width: 50px; 
    }
    .nav-icon {
        width: 40px; 
        height: 40px;
    }
}
